<template>
  <h1>Reports</h1>
  <div class="container">
    <div class="reportsContainer container">
      <p class="reports">Roast Date : ${reportObject.coffeeRoastDate}</p>
      <p class="reports"> Date of Recording: ${reportObject.recordingDate}</p>
      <p class="reports"> Coffee Bar: ${reportObject.coffeeShopName}</p>
      <p class="reports"> Barista: ${reportObject.baristaName}</p>
      <p class="reports">Coffee Weight : ${reportObject.coffeeWeight}</p>
      <p class="reports">Extraction Time: ${reportObject.extractionTime}</p>
    </div>
  </div>
</template>
