<template>
  <form id="reportForm">
    Coffee Roast Date <input type="text" name="location" id="coffeeRoastDate"/>
    <br/>
    Today's Date <input type="text" name="recordingDate" id="recordingDate"/>
    <br/>
    Location <input type="text" name="coffeeShopName" id="coffeeShopName"/>
    <br/>
    Barista <input type="text" name="baristaName" id="baristaName"/>
    <br/>
    Coffee weight <input type="number" max="99" name="coffeeWeight" id="coffeeWeight"/>
    <br/>
    Extraction Time <input type="number" name="time" id="extractionTime"/>
    <br/>

    <br/>

    <button type="submit" class="btn-primary btn-danger">Submit</button>
    </form>
</template>
